<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <h1>
        Welcome to C. J. W. Application
    </h1>
    <p>
        Please find this information usefull
    </p>
</body>
<style>
    body {
        text-align: center;
        vertical-align: middle;
        background-color: purple;
        font-weight: bold;
    }
    h1 {
        color: white;
    }

    p {
        color: white;
    }
</style>
</html>